@charset "utf-8";

@import "./modules/reset.scss";
@import "./modules/_header.scss";
@import "./modules/_footer.scss";
@import "./modules/goods.scss";


.thisContainer{
    width: 1180px;
    margin: 0 auto;
}

/* - 网址路径 { - */
.hMap{
    margin: 20px 0 40px;
    a{
        font: 14px/26px 'Microsoft Yahei';
        padding-left: 8px;
        color: #828282;
        margin-right: -8px;
        &:last-child{
            color: #3a3f4a;
        }
    }
}
/* - } 网址路径 - */

/* - 分类、排序： classify { - */
.classify{
    background-color: #fff;
    .top{
        position: relative;
        width: 100%;
        padding: 11px 0;
        max-height: 90px;
        border-bottom: 1px solid #eee;
        overflow: hidden;
        transition: all .4s linear;
        .content{
            width: 100%;
            li{
                float: left;
                padding: 0 20px;
                color: #666;
                line-height: 30px;
                a{
                    color: inherit;
                }
            }
            .ac{
                font-weight: 600;
                color: #000;
            }
        }
    }
    .bottom{
        position: relative;
        width: 100%;
        padding: 11px 0;
        max-height: 90px;
        overflow: hidden;
        transition: all .4s linear;
        .order{
            float: left;
            li{
                float: left;
                padding: 0 20px;
                color: #666;
                line-height: 30px;
                a{
                    color: inherit;
                }
            }
            .ac{
                font-weight: 600;
                color: #000;
            }
        }
        .filtrate{
            float: right;
            li{
                float: left;
                padding: 0 20px;
                color: #666;
                line-height: 30px;
                a{
                    color: inherit;
                }
            }
            .ac{
                font-weight: 600;
                color: #000;
            }
        }
    }
}
/* - } 分类、排序： classify - */


section{
    background-color: #fff;
    margin-top: 20px;
}
